In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv('Mall_Customers.csv')
data

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [3]:
male_spending = data[data['Genre']=='Male']['Spending Score (1-100)']

In [4]:
female_spending = data[data['Genre']=='Female']['Spending Score (1-100)']

In [5]:
t_statistics,p_value = stats.ttest_ind(male_spending,female_spending)

In [6]:
n_male = len(male_spending)
n_female = len(female_spending)

In [7]:
degree_of_freedom = n_male + n_female  - 2

In [8]:
alpha = 0.025

In [9]:
critical_value = stats.t.ppf(1-alpha,degree_of_freedom)

In [10]:
print("T-statics : ",t_statistics)
print("P-value : ",p_value)
print("Degree of Freedom : ",degree_of_freedom)

T-statics :  -0.8190464150660334
P-value :  0.4137446589852174
Degree of Freedom :  198

In [11]:
if p_value < alpha:
    print("There is significant  differnce in spending score between male and female groups")
else:
    print("There is no significant  differnce in spending score between male and female groups")

There is no significant  differnce in spending score between male and female groups

In [13]:
if abs(t_statistics) > critical_value:
    print("There is significant  differnce in spending score between male and female groups")
else:
    print("There is no significant  differnce in spending score between male and female groups")

There is no significant  differnce in spending score between male and female groups